{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Your Whisky Collection</h1>
            </div>
        </div>
    </div>
</section>

<div class="bg-img">
    <img src="../../static/images/many_drinks.webp" alt="Many whisky drinks" style="height: 100%; width: 100%;">
</div>
{% endblock %}  